<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth.ureverse.global.auth.mapper.AuthMapper">

    <select id="findByEmail" resultType="com.earth.ureverse.global.auth.dto.db.AuthenticatedUser">
        SELECT USER_ID AS USERID, EMAIL, PASSWORD, ROLE, ISACTIVE
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <select id="existsByEmail" resultType="boolean" parameterType="string">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <insert id="insertMember" parameterType="com.earth.ureverse.global.auth.dto.request.SignUpRequestDto">
        INSERT INTO USERS (USER_ID, EMAIL, PASSWORD, NAME, ROLE, PHONE, CREATED_AT, CREATED_BY, UPDATED_AT, UPDATED_BY)
        VALUES (USERS_SEQ.NEXTVAL, #{email}, #{password}, #{name}, 'ROLE_MEMBER', #{phone}, SYSDATE, USERS_SEQ.CURRVAL, SYSDATE, USERS_SEQ.CURRVAL)
    </insert>

    <select id="findByUserId" resultType="com.earth.ureverse.global.auth.dto.db.AuthenticatedUser">
        SELECT USER_ID AS USERID, EMAIL, PASSWORD, ROLE, ISACTIVE
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <select id="getUserName" resultType="string">
        SELECT NAME
        from USERS
        WHERE USER_ID = #{userId}
    </select>

    <update id="linkKakaoAccount">
        UPDATE USERS
        SET
        KAKAO_ID = #{kakaoUser.kakaoId}
        WHERE USER_ID = #{userId}
    </update>

    <update id="updatePasswordByEmail">
        UPDATE USERS
        SET PASSWORD = #{encodedPassword}
        WHERE EMAIL = #{email}
    </update>

</mapper>
