<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth.ureverse.global.auth.mapper.AuthMapper">

    <select id="findByEmail" resultType="com.earth.ureverse.global.auth.dto.db.AuthenticatedUser">
        SELECT USER_ID, EMAIL, PASSWORD, ROLE
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <select id="existsByEmail" resultType="boolean" parameterType="string">
        SELECT COUNT(*) > 0
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <insert id="insertMember" parameterType="com.earth.ureverse.global.auth.dto.request.SignUpRequestDto">
        INSERT INTO USERS (USER_ID, EMAIL, PASSWORD, NAME, ROLE, PHONE, CREATED_AT, CREATED_BY, UPDATED_AT, UPDATED_BY)
        VALUES (USERS_SEQ.NEXTVAL, #{email}, #{password}, #{name}, 'ROLE_MEMBER', #{phone}, SYSDATE, USERS_SEQ.CURRVAL, SYSDATE, USERS_SEQ.CURRVAL)
    </insert>

</mapper>
