<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth.ureverse.global.mapper.BrandMapper">
    <select id="selectAllBrands" resultType="com.earth.ureverse.global.common.dto.response.BrandResponseDto">
        select
            brand_id as brandId,
            name,
            name_en as nameEn,
            logo
        from brand
    </select>
</mapper>