<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth.ureverse.global.common.mapper.CategoryMapper">
    <select id="selectAllCategory" resultType="java.lang.String">
        select DISTINCT main_name
        from category
    </select>

    <select id="selectCategoriesByBrandId" resultType="com.earth.ureverse.global.common.dto.query.CategoryQueryDto" parameterType="java.lang.Long">
        select
            c.category_id as categoryId,
            c.main_name as mainName,
            c.sub_name as subName
        FROM category c JOIN BRAND_CATEGORY_COMBINATION bcc ON c.category_id = bcc.category_id
        JOIN BRAND b ON b.brand_id = bcc.brand_id
        WHERE b.brand_id = #{brandId}
        order by c.main_name
    </select>
</mapper>